:root {
  --acto1-color: #3b82f6;
  --acto2-color: #10b981;
  --acto3-color: #8b5cf6;
}

body {
  font-family: "Roboto", sans-serif;
}

.title-font {
  font-family: "Merriweather", serif;
}

.acto-1 {
  border-left-color: var(--acto1-color);
}

.acto-2 {
  border-left-color: var(--acto2-color);
}

.acto-3 {
  border-left-color: var(--acto3-color);
}

.badge-acto-1 {
  background-color: var(--acto1-color);
}

.badge-acto-2 {
  background-color: var(--acto2-color);
}

.badge-acto-3 {
  background-color: var(--acto3-color);
}
